@model MovieLib.Models.MovieModel
@{
    ViewBag.Title = "Информация о фильме";
    ViewBag.Css = "~/CSS/ViewStyle.css";
    ViewBag.Action = "Edit";
    ViewBag.ButtonText = "Редактировать";
    ViewBag.ID = Model.ID;
}
    <form asp-action="ViewContent" asp-controller="Home" asp-route-id="@Model.ID">
        <div id="movie_info">
            <div id="poster">
                <img src="@Model.PictureURL" />
            </div>
            <div id="info">
                <label id="title">@Model.Title</label>
                <label>Год релиза: @Model.ReleaseYear</label>
                <label id="description">@Model.Description</label>
            </div>
        </div>
    </form>

